<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Unit Conversion</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Unit Conversion</strong>
      </a>
      
    </div>
  </div>
  
  <section class="jumbotron text-center">
	<div class="container ">
		<div class="row justify-content-md-center mx-lg-n5 offset-sm-2">
			<div class="col-md-4 col-md-offset-4 ">
				<div class="panel panel-default">
					
					<div class="panel-body">

						<div th:if="${error}">
							<div class="alert alert-danger">
								<span th:text="${error}"></span>
							</div>
						</div>


						<form th:action="@{/singlevalue}" th:object="${data}" method="post" >
							<div class="form-group" >
										<div class="row">
											<label for="inputDouble" class="control-label col-sm-5">Input Value</label> 
											<input id="inputDouble" class="form-control col-sm-6"
											th:field="*{inputDouble}" /> 
											<br>
										</div>
										<div class="row">	
											<label for="inputUnitString" class="control-label col-sm-5">Input Unit</label> 
											<input id="inputUnitString" class="form-control col-sm-6"
											th:field="*{inputUnitString}" /> 
											<br> 
										</div>	
										<div class="row">
											<label for="responseDouble" class="control-label col-sm-5">Student Response</label> 
											<input id="responseDouble" class="form-control col-sm-6"
											th:field="*{responseDouble}" /> 
											<br> 
										</div>
										<div class="row">
											<label for="outputUnitString" class="control-label col-sm-5">Output Unit</label> 
											<input id="outputUnitString" class="form-control col-sm-6"
											th:field="*{outputUnitString}" /> 
											<br>
										</div>
										
										<div class="row">
											<label for="resultString" class="control-label col-sm-5">Result</label> 
											<input id="resultString" class="form-control col-sm-6"
											th:field="*{resultString}" readonly/> 
											<br>
										</div>
										<br>
										<br>
										<div class="row">
										<div class="col-sm-5"></div>
										<button type="submit" class="btn btn-success col-sm-3">Check</button>
										<div class="col-sm-1"></div>
										<button type="reset" name="reset" onclick="location.href='/singlevalue'" value="Submit"
											class="btn btn-success col-sm-3">Reset</button>
										</div>

							</div>
						</form>
					</div>
						
				</div>
			</div>
		</div>
	</div>
  </section>	
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>